/* Typography */
* {
  font-family: "Formula1Font";
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* Loading spinner */
.modal-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal.loading::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-loading .spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

/* Modal content */
.modal-content {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: red 0.05;
  overflow-y: auto;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-size: x-large;
}

.modal-header h2 {
  margin: 0;
}

.modal-header button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Modal body */
.modal-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-body li {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  justify-content: stretch;
}

.modal-body li p {
  text-decoration: none;
  font-size: small;
}

.modal-body img {
  margin-right: 10px;
  margin-top: 20px;
}

.modal-body p {
  margin: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.modal-body p:last-of-type {
  margin-right: 0;
}

/* Team image */
.team-image {
  max-height: 100px;
  max-width: 150px;
}

/* Driver info */
.driver-info-title {
  font-size: medium;
}

.driver-info {
  font-size: small;
}

/* Team body */
.team-body {
  display: flex;
}

/* Team info */
.team-info-title {
  margin-left: none;
  font-size: medium;
}

@media only screen and (max-width: 768px) {
  .driver-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .driver-image {
    margin: 0;
    margin-bottom: 10px;
  }

  .driver-info-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .modal-body {
    width: 90%;
    overflow-y: auto;
    max-height: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .modal-body li {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
    overflow-y: auto;
    max-height: 500px;
  }
}
