.team-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.team-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
}

.front img {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  margin-bottom: 20px;
}

.front h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: black;
}

.teams-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
}